/* ==|====================
   Modules/Order
   ======================= */

.orders {
	margin-bottom: 36px;
}

.order {
	margin-bottom: 18px;
}

.order-header {
	@include clearfix;

	line-height: 12px;

	margin: 0 -18px;
	padding: 18px;

	background: #effae3;
	.order-complete & {
		background: #fafafa;
	}
}

.order-date {
	font-weight: bold;

	float: left;

	margin-right: 20px;

	color: #999;
}

.order-meta {
	@include reset-ul;

	float: left;

	color: #0b162f;
	& > li {
		float: left;

		padding: 0 20px;

		border-left: 1px solid #999;
		&:first-child {
			border-left: 0;
		}
	}
	strong {
		font-weight: normal;
	}
}

.order-toggle {
	font-size: 10px;

	float: right;

	cursor: pointer;

	color: #999;
	&:before {
		font-family: iconfont;
		font-size: 12px;
		line-height: 1;

		float: right;

		width: 1em;
		margin-left: .5em;
		.order:not(.order_open) & {
			content: '\e805';
		}
		.order_open & {
			content: '\e804';
		}
	}
	&:hover {
		color: #0b162f;
	}
}

.order-body {
	display: none;

	padding: 18px 0;
	.order_open & {
		display: block;
	}
}

.order-items {
	@include reset-ul;
	@include last-margin;
	& > li {
		margin-bottom: 4px;
		a {
			color: black;
			&:hover {
				color: #182465;
			}
		}
	}
}

.order-item-name {
	font-weight: 500;
}
