/* ==|====================
   Modules/Brands
   ======================= */

.brands {
	@extend %grid;

	padding-top: 18px;
	padding-bottom: 18px;
	.brands-item {
		@include media(min-width 1468px max-width 1735px) {
			width: 20%;
		}
		@include media(min-width 1736px) {
			width: 16.66%;
		}

		width: 25%;
		margin-bottom: 0;
	}
}

.brands-link {
	@include transition(opacity .1s ease-in-out);

	display: block;

	width: 250px;
	height: 150px;
	margin: 0 auto;
	&:hover {
		opacity: .75;
	}
}
