/* ==|====================
   Modules/Content header
   ======================= */

.content-header {
	position: relative;

	min-height: 136px;
	padding: 36px 18px 18px;
}

.section-header {
	color: white;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
