/* ==|====================
   Modules/Contacts
   ======================= */

.contacts {
	position: relative;

	height: 376px;
	margin-bottom: 36px;
}

.contacts-map {
	height: 376px;
}

.contacts-info {
	position: absolute;
	top: 18px;
	right: 18px;

	width: 250px;
}
